* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: black;
    font-family: Arial, sans-serif;
    color: #fff;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  nav h1 a {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
    transition: all 0.3s ease-in-out;
  }
  
  nav ul li a:hover {
    transform: scale(1.2);
  }
  
  form {
    max-width: 500px;
    margin: 120px auto 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
  }
  
  form input[type="submit"] {
    display: block;
    width: fit-content;
    margin: 0 auto 0 auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #ff7f50;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  form input[type="submit"]:hover {
    background: #f60;
  }
  